@import "../../variables.scss";


$container-border: $border-color;
$container-color: lighten($text-color, 70%);
$container-bg: lighten($bg-color, 10%);

.container {
  margin: 1rem;
  padding: 1rem;
}
.container-head {
}
.container-body {
}
.container-footer {
}