@import "variables.scss";

$input-padding: 0.6rem .8rem;
$input-radius: 0;

html, body {
    font-family: $font-family;
    font-size: $font-size;
}
.button,
button,
select,
textarea,
input[type="text"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="email"],
input[type="tel"],
input[type="url"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[list="browsers"],
input[type="reset"],
input[type="submit"]{
    padding: $input-padding;
    border-radius: $input-radius;
    border: 1px solid $border-color;
    font-size: $font-size;
    font-family: $font-family;
}
button, select, .button,
input[type="reset"],
input[type="submit"] {
    display: inline-block;
    //background-color: $bg-color;
    //color: $text-color;
}
button:hover, .button:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
    //background-color: $bg-color-dark;
    //color: $text-color-dark;
}
button:focus, .button:focus,
input[type="reset"]:focus,
input[type="submit"]:focus {
    //background-color: $bg-color-dark;
    //color: $text-color-dark;
}
button:active, .button:active,
input[type="reset"]:active,
input[type="submit"]:active {
    //background-color: $bg-color-active;
    //color: $text-color-active;
}
select{background-color: inherit;}
input[type="radio"],
input[type="checkbox"]{}
input[type="search"]{}
input[type="color"]{padding: 0;}
input[type="reset"]{}
input[type="file"]{}


h1{padding: .8rem 0 .5rem}
h2{padding: .7rem 0 .4rem}
h3{padding: .6rem 0 .3rem}
h4{padding: .5rem 0 .2rem}
h5{padding: .4rem 0 .1rem}
h6{padding: .3rem 0 .1rem}
p{padding: .2rem 0 .1rem}


a{color: $link-color;}
a:hover{color: $link-color-hover;}
a:focus{color: $link-color-hover;}



















