

$them: 'light';


$fontFamily: "sans-serif","sans","Ubuntu Condensed","Ubuntu";
$fontSize: 100%;


$linkColor: #d4e089;
$linkHoverColor: #d0e04c;

$borderColor: #d7d7e0;

$textColor: #3a3a3a;
$bgColor: #e6e4ec;

$textHoverColor: #333333;
$bgHoverColor: #bfb7ec;



